#home {
    text-align: center;

    .photo {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        justify-self: center;
    }

    p {
        margin-top: 1rem;
    }


    .container {
        background-color: var(--body-color);

        width: var(--page-width);
        height: auto;

        margin: auto;
        border-radius: .5rem;

        padding: 1.6rem 2rem;

    }

}