.swiper-button-next, .swiper-button-prev {
    color: var(--secondary-color) !important
}

.swiper-pagination-bullet {
    background: #2255DC;
}
.swiper-pagination-bullet-active {
    background: var(--secondary-color);
}

.swiper-wrapper {
    margin-top: 2rem;
}